body {
	width: 480px;
	margin: 0 auto;
}
#repo {
	border: 1px solid blue;
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
}
#msg {
	color: green;
	border: 1px solid green;
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
}